@import "styles/colors.scss";

.amenities-wrapper {
		@media (min-width: 1920px) {
		//height: 1850px; //200 title, 893 gallery, 756 recorrido virtual
		width: 100%;
	}
}

.amenities-header {
	color: $sync-blue;
	height: 10vh;
	padding: 0 100px;
	width: 100%;
}

.amenities-gallery {
	background-color: $sync-blue;
	color: white;
	display: flex;
	position: relative;
	left: 0;
	@media (min-width: 1920px) {
		height: 863px;
		width: 100%;
	}

	.image {
		display: flex;
		@media (min-width: 1920px) {
			height: 863px;
			width: 1240px;
		}
	}

	.left-container {
		padding-left: 100px;
		padding-right: 31px;
	}

	.gallery-controller {
		width: 100%;
	}
}

.co-working {
	background-position: center;
	color: white !important;
	width: 100%;

	@media (min-width: 1920px) {
		height: 926px;
	}

	.co-working-text {
		color: white;
		font-size: 141px;
		font-weight: 900;
	}
}

.recorrido-virtual {
	background-image: url(../../../public/images/imagen-recorrido-virtual.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
	width: 100%;

	@media (min-width: 1920px) {
		height: 594px;
	}
}

.placeholder-background {
	background-image: url(../../../public/images/Co-Work.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: none;
}
