@import "styles/colors.scss";
@import "../../App.scss";

.apartamentos-wrapper {
	background-color: white;
	padding: 50px 100px;
}

.apartamentos-features-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	
	@media (min-width: 1920px) {
		height: 930px;
		width: 1709px;
	}
}

.apartamentos-feature {
	align-items: center;
	color: white;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: flex-end;

	&.imagen-1 {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../../public/images/landing-image.jpg);
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&.imagen-2 {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../../public/images/imagen-apartamento-2.jpg);
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	&.imagen-3 {
		background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../../../public/images/imagen-apartamento-3.jpg);
		background-position-x: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	@media (min-width: 1920px) {
		width: 549px;
	}

	.feature-title {
		display: inline-block;
		@media (min-width: 1920px) {
			font-size: 40px;
			font-weight: bold;
		}
	}

	.feature-description {
		margin-bottom: 105px;
		margin-top: 5px;
		text-align: center;
		width: 100%;

		@media (min-width: 1920px) {
			font-family: 'Open Sans';
			font-size: 24px;
			font-weight: 300;
		}
	}

}

.monoambiente-info {
	color: $sync-blue;
	margin-top: 99px;

	.scrolling-animation {
		margin: 0 auto 56px auto;
		@media (min-width: 1920px) {
			height: 826px;
			width: 1516px;
		}
	}	

	.ver-tipologia-btn {
		margin-bottom: 90px;
		margin-top: 64px;
	}


.apartamentos-title {
	color: $sync-blue;

	@media (min-width: 1920px) {
		margin-top: 112px;
		margin-bottom: 60px;
	}
}
}
