@import "styles/colors.scss";

.entrevista-wrapper {
	color: $sync-blue;
	//height: 100vh;
	padding: 50px;
}

.foto-christian {
	height: 821px;
	width: 457px;
}

.form-entrevista {
	width: calc(100% - 457px) !important;
}

.form-input {
	width: 534px;
}
