@font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Thin.otf");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-ThinItalic.otf");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-XLight.otf");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-XLightItalic.otf");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Light.otf");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamLightItalic.ttf");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamMedium.ttf");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamMediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Bold.otf");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/GothamBoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  @font-face {
    font-family: "Gotham";
    src: url("../fonts/Gotham-Black.otf");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  