@import "styles/colors.scss";

.header {
  //background-color: $sync-blue;
  background: none;
  color: white;
  height: 15vh;
  font-weight: 300;
  position: absolute;
  top: 0;
  width: 98vw;

  @media (min-width: 1920px) {
    font-size: 23px;
  }
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  text-shadow: 0px 3px 6px #00000060;
  top: 50%;
  transform: translateY(-50%);
  width: 70vw;
}

nav:hover { text-decoration: none; color: white; }
nav:focus { text-decoration: none; color:white; }
nav:active { text-decoration: none; color: white; }
nav:visited { text-decoration: none; color: white; }

Link:hover { text-decoration: none; color: white; }
Link:focus { text-decoration: none; color:white; }
Link:active { text-decoration: none; color: white; }
Link:visited { text-decoration: none; color: white; }

Link { text-decoration: none; color: white; }

nav { text-decoration: none; color: white; }
