@import "../../../styles/colors.scss";

.card-container {
	padding: 0 100px;
}

.prensa-card {
	background-color: $sync-grey;
	color: $sync-blue;
	border-radius: 20px;
	margin: 0 15px;

	.article-info {

		@media (min-width: 1920px) {
			height: 388px;
		}

		padding: 32px;

		.article-intro {
			font-size: 24px;
			font-family: 'Open Sans';
			margin: 60px 0;
			width: 100%;
		}
		
		.article-title {
			font-size: 30px;
			font-weight: bold;
			width: 100%;
		}
	
		.ver-mas {
			font-size: 30px;
			font-weight: bold;
			text-decoration: underline;
			width: 100%;
		}
	}

	.article-image {
		border-radius: 20px 20px 0px 0px;

		@media (min-width: 1920px) {
			height: 328px;
		}
	}
	
	@media (min-width: 1920px) {
		height: 716px;
		width: 500px !important;
	}
}

.prensa-title {
	color: $sync-blue;
	padding: 100px;
}
